				<article>
					<h2><%= experience.position %> </h2>
					<h3><%= experience.place %> </h3>
					<p class="subDetails"> <%= experience.work_start %> - <%=experience.work_end %></p>
					<p><%= experience.detail %></p>
				</article>