<fieldset>
<div class="row">

        <div class="col-sm-7 col-sm-offset-1">
                <div class="form-group label-floating">
                        <label class="control-label">Place Of Work</label>
                        <%= builder.input :place, label: false, class: 'form-control' %>
                </div>
        </div>
        <div class="col-sm-3">
                <div class="form-group label-floating">
                        <label class="control-label">Position</label>
                        <%= builder.input :position, label: false, class: 'form-control' %>
                </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
                <div class="form-group label-floating">
                        <label class="control-label">Work Start</label>
                        <%= builder.input :work_start, label: false, class: 'form-control' %>
                </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
                <div class="form-group label-floating">
                        <label class="control-label">Work End</label>
                        <%= builder.input :work_end, label: false, class: 'form-control' %>
                </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
                <div class="form-group label-floating">
                        <label class="control-label">Cirrent Work?</label>
                        <%= builder.input :current_work, label: false, class: 'form-control' %>
                </div>
        </div>
        <div class="col-sm-5">
                <div class="form-group label-floating">
                        <label class="control-label">Further Comment</label>
                        <%= builder.input :detail, label: false, class: 'form-control' %>
                </div>
        </div>
        <%= builder.hidden_field :_destroy  %>
        
                <%= link_to   "#", class:  "remove_fields btn btn-simple btn-danger" do %>
                Remove<div class="ripple-container"></div>
        <% end %>        
</div>
</fieldset>
                
