
 <%= simple_form_for post do |f| %>
 <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table summary="Post form fields">
      <tr>
        <%= f.input :first_name, label: "First Name", error: "First Name is mandatory"%>

      </tr>
      <tr>
        <%= f.input :last_name, label: "Last Name", error: "Last Name is mandatory"%>
      </tr>
      <tr>
           <%= f.input :email, placeholder: "user@domain.com"%>   
      </tr>
      <tr>
        <%= f.input :category, label: "Category of Work"%>
      </tr>

      <%= f.fields_for :qualifications do |builder| %>
         <%= render 'qualifications_fields', builder: builder %>

      <% end %>
      <%= link_to_add_fields "Add Qualification", f, :qualifications %>

      <%= f.fields_for :projects do |builder| %>
 
       <%= render 'projects_fields', builder: builder %>

       
      <% end %>
      <%= link_to_add_fields "Add Project", f, :projects %>


      <%= f.fields_for :experiences do |builder| %>

       <%= render 'experiences_fields', builder: builder %>





      <% end %>
      <%= link_to_add_fields "Add Experience", f , :experiences%>


      <%= f.fields_for :recommendations do |builder| %>

       <%= render 'recommendations_fields', builder: builder %>

      <% end %>
      <%= link_to_add_fields "Add Recommendation", f, :recommendations %>

      <%= f.submit "Create CV" %>

</table>

<% end %>