<table summary="Post form fields">
      <tr>
        <th><%= f.label(:first_name, "First Name")%></th>
        <td><%= f.text_field(:first_name) %></td>
      </tr>
      <tr>
        <th><%= f.label(:last_name)%></th>
        <td><%= f.text_field(:last_name, "Last Name") %></td>
      </tr>
      <tr>
        <th><%= f.label(:email)%></th>
        <td><%= f.text_field(:email) %></td>
      </tr>
      <tr>
        <th><%= f.label(:category)%></th>
        <td><%= f.text_field(:category, "Your Category Of Work") %></td>
      </tr>

</table>