


 <fieldset>
<div class="row">

	<div class="col-sm-7 col-sm-offset-1">
		<div class="form-group label-floating">
			<label class="control-label">Project Title</label>
			<%= builder.input :name, label: false, class: 'form-control' %>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group label-floating">
			<label class="control-label">Project Year</label>
			<%= builder.input :project_yr, label: false, class: 'form-control' %>
		</div>
	</div>
	<div class="col-sm-8 col-sm-offset-1">
		<div class="form-group label-floating">
			<label class="control-label">Describe Project</label>
			<%= builder.input :description, label: false, class: 'form-control' %>
		</div>
	</div>
	<%= builder.hidden_field :_destroy  %>
	
			<%= link_to   "#", class:  "remove_fields btn btn-simple btn-danger" do %>
		Remove<div class="ripple-container"></div>
	<% end %>	
</div>
</fieldset>