<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<%= image_tag "headshot.jpg", alt: @post.full_name %>
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo"> <%= @post.full_name %></h1>
			<h2 class="quickFade delayThree"><%= @post.category %></h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <%= link_to "#{@post.email}", "mailto:#{@post.email}", target: '_blank' %></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p><%= @post.about if @post.about %></p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<% if !@post.experiences.blank? %>
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<%= render @post.experiences %>
			</div>
			<div class="clear"></div>
		</section>
		<%  end %>
		
		<% if !@post.skills.blank? %>
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<%= render @post.skills  %>
					
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		<% end %>
		
		<% if !@post.qualifications.blank? %>
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<%= render @post.qualifications %>
			</div>
			<div class="clear"></div>
		</section>
		<% end %>
		<% if !@post.recommendations.blank? %>
		<section>
			<div class="sectionTitle">
				<h1>Recommendations</h1>
			</div>
			
			<div class="sectionContent">
				<%= render @post.recommendations %>
			</div>
			<div class="clear"></div>
		</section>
		<% end %>
		<% if !@post.projects.blank? %>
		<section>
			<div class="sectionTitle">
				<h1>Projects</h1>
			</div>
			
			<div class="sectionContent">
				<%= render @post.projects %>
			</div>
			<div class="clear"></div>
		</section>
		<% end %>

		<%=  render @post.others %>




		
	</div>
</div>

