    <nav class="navbar   navbar-fixed-top navbar-color-on-scroll">
    	<div class="container">
        	<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
                <%= link_to  'Material Resume', root_path, class: "navbar-brand"  %>
        	</div>

        	<div class="collapse navbar-collapse" id="navigation-example">
        		<ul class="nav navbar-nav navbar-right">
                <% if current_user %>
                    <li>
                        <%= link_to  logout_path, method: :post do %>
                        <i class="material-icons">unarchive</i> Log Out
                        <% end %>
                    </li>

                    <li>
                        <%= link_to  "#"  do %>
                        <i class="material-icons">unarchive</i> Profile
                        <% end %>
                    </li>

                    

                    
                <% else %>
                    <li>
                        <%= link_to  "javascript:void(0)", class: "signup-btn" do %>
                        <i class="material-icons">perm_identity</i> Register
                        <% end %>
                    </li>
                    <li>
                        <%= link_to "javascript:void(0)", class: "signin-btn" do %>
                        <i class="material-icons">rowing</i> Log In
                        <% end %>
                    </li>
                    
                <% end %>


		            <li>
		                <a href="javascript:void(0)" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-twitter"></i>
						</a>
		            </li>
		            <li>
		                <a href="javascript:void(0)" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-facebook-square"></i>
						</a>
		            </li>
					<li>
		                <a href="javascript:void(0)" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-instagram"></i>
						</a>
		            </li>
        		</ul>
        	</div>
    	</div>
    </nav>