
<div class="wrapper popup">
      <div class="container-fluid popup-dialog">

            <div class="card card-signup">
              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name) ,
           :html => {:id => "sign_up_user"},
           :format => :json,
           :remote => true ) do |f| %>
                <div class="header header-primary text-center">
                  <h4>Sign Up</h4>
                  <%= f.error_notification %>
                  <div class="social-line">
                    <a href="#pablo" class="btn btn-simple btn-just-icon">
                      <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="#pablo" class="btn btn-simple btn-just-icon">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#pablo" class="btn btn-simple btn-just-icon">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </div>
                </div>
                <p class="text-divider">Or Be Classical</p>
                <div class="content">

                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="material-icons">email</i>
                    </span>
                    <%= f.input :email, required: true, autofocus: true , label: false, placeholder: 'email'%>
                  </div>

                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="material-icons">lock_outline</i>
                    </span>
                    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), label: false, placeholder: 'Password' %>
                  </div>

                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="material-icons">lock_outline</i>
                    </span>
                    <%= f.input :password_confirmation, required: true, placeholder: 'Confirm Password', label: false %>
                  </div>

                  <!-- If you want to add a checkbox to this form, uncomment this code

                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="optionsCheckboxes" checked>
                      Subscribe to newsletter
                    </label>
                  </div> -->
                </div>
                <div class="footer text-center">
                  <%= f.button :submit, "Sign up",  class: "btn btn-simple btn-primary btn-lg" %>
                </div>
              <%end%>
              <%= render "devise/shared/links" %>
            </div>
          </div>


      </div>

      
